@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

body::before {
    clip-path: circle(30% at left 20%);
    clip-path: circle(30% at right 10%);
    background-image: linear-gradient(135deg, #fa4b4b, #ff2f2f);
}

header {
    backdrop-filter: blur(18px);
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

header .logo h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0px 0px 0px 40px;
}

header .logo span {
    color: #fc5a75;
}

header .navbar {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

header .navbar li a:hover {
    color: white;
    background: #fc5a75;
}

header .navbar .btn {
    padding: 10px;
    margin: 0px 10px;
    border: none;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 10px;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease;
}

header .navbar .btn:hover {
    border: none;
    background: #fc5a75;
    transform: scale(0.97);
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.right-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:670px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}
